/* 各テキストボックスに適用するクラス */
.textInput{
    border-bottom: solid 1px #000;
    margin-bottom: 3%;
}

/* 材料のpタグ */
.materialNumber{
    margin-top: 1vh;
    margin-bottom: 0%;
}

/* サムネイルのプレビュー */
.previewImg {
    /* width: 200px;
    margin: 10px;
    border: solid 1px silver; */
    max-height: 140px;
    max-width: 200px;
    display: block;
    margin: auto;
    border: 1px solid gray;
}

.file-input {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  display: block;
  margin: 10px auto;
}

.file-input > input {
  display: none;
}

.file-input > img {
  width: 100%;
  height: 100%;
}

.HowToImg{
    width:15vh;
}

/* 作り方のpタグ */
.HowToNumber{
    margin-top: 1vh;
    margin-bottom: 0%;
}

/* 非表示 */
.noneDisplay{
    display: none;
}