@media (max-widht: 767px){
    body{
        width:100%;
    }
}
/* ユーザートップ */
.user{
    margin: 0 15px;
}
.user-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.user-icon{
    width: 20%;
    height: 20%;
    margin: 5px 0 0 7px;
}
.user-name{
    font-size: 6vw;
    margin:0 200px 0 10px;
}
.user-setting{
    font-size: 30px;
    position: absolute;
    top: 13px;
    right: 20px;
}


/* ユーザー情報 */
.user-info{
    margin: 0 10px 0;
}
.user-info-text{
    font-size: 15px;
    margin: 0 0;
}
.user-info-text.prefecture{
    margin: 5px 0 0;
    font-weight: bold;
}
/* .user-info-text-bold{
    font-weight: bold;
} */
.introduction{
    margin: 2px 0 0;
    font-size: 13px;
}


/* ログインまたは新規登録 */
.user-register{
    text-align: center;
    font-size: 15px;
    margin: 30px 0 0px;
}
.user-register-link{
    text-decoration: none;
    color: #ff7800;
}


/* マイページのタブ */
.myPage-content{
    width: 90vw;
    height: 52vh;
    padding: 0;
    margin: 5px auto;
    border: 1px solid #000000;
    border-radius: 25px;
    overflow: hidden;
}
.myPage-content-tab{
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #dcdcdc;
    border-bottom: 1px solid #000000;
    margin-bottom: 0;
}
.myPage-content-tablist{
    list-style-type: none;
    margin: 0 13px;
    padding: 8px 0;
    font-size: 4.5vw;
}
.myPage-content-tablist.is-active{
    /* background:#F00; */
    color:#ff4500;
    transition: all 0.2s ease-out;
}

/* 投稿内容 */
.scrollRange{
    overflow: auto;
    height: 62vh;
}
/* .myPage-content-posts{
    position: relative;
} */
.myPage-content-posted{
    margin: 8px 8px ;
    height: 100px;
    /* position: relative; */
}
.post-image{
    float: left;
    width: 100px;
}
.post-text-name{
    margin: 0 0 0 15px;
    font-size: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-text-budget{
    margin: 0 0 0 15px;
    font-size: 18px;
}
.post-image-float{
    overflow: hidden;
}
.post-like i{
    margin: 0 15px;
    font-size: 18px;
}
.post-underline{
    border-bottom: 1px solid #000000;
}
.panel{
    display: none;
}
.panel.is-show{
    display: block;
}

