/* ユーザートップ */
.user{
    max-width: 390px;
    margin: 0 15px;
}
.user-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.user-icon{
    width: 65px;
    margin: 5px 0 0 7px;
}
.user-name{
    font-size: 25px;
    margin:0 200px 0 10px;
}
.user-setting{
    font-size: 30px;
    position: absolute;
    top: 13px;
    right: 20px;
}


/* ユーザー情報 */
.user-info{
    margin: 0 10px 0;
}
.user-info-text{
    font-size: 15px;
    margin: 0 0;
}
.user-info-text.prefecture{
    margin: 5px 0 0;
    font-weight: bold;
}
/* .user-info-text-bold{
    font-weight: bold;
} */
.introduction{
    margin: 2px 0 0;
    font-size: 13px;
}


/* ログインまたは新規登録 */
.user-register{
    text-align: center;
    font-size: 15px;
    margin: 40px 0 0px;
}
.user-register-link{
    text-decoration: none;
    color: #ff4500;
}


/* マイページのタブ */
.myPage-content{
    max-width: 767px;
    height: 400px;
    padding: 0;
    margin: 5px 15px 0;
    border: 1px solid #000000;
    border-radius: 25px;
    overflow: hidden;
}
.myPage-content-tab{
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #c0c0c0;
    border-bottom: 1px solid #000000;
    margin-bottom: 0;
}
.myPage-content-tablist{
    list-style-type: none;
    margin: 0 13px;
    padding: 8px 0;
    font-size: 18px;
}

/* 投稿内容 */
.myPage-content-posts{
    
}
.post-image{
    float: left;
    margin: 10px;
    width: 100px;
}
.post-image-float{
    overflow: hidden;
}
