.container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .child {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    margin-top: 30%;
    padding: 20%;
  }
  input[type="email"] {
    color: #8f8d8d68;
    background-color: #4b49496b;
  }
  /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
  } */