/* ？ */
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
}

/* 下に表示するバーのcss */
footer{
    width: 100%;
    height:10vh;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 0px;
    margin:0px;
    z-index: 9998;


    /* position: absolute;←絶対位置 */
    position: fixed;
    bottom:0; /*下に固定*/
    border-top:solid #000000 2px; /*テキストの上のborder*/
}

/* footerの中の要素を縦が中央になるようにしたいやつ */
.footerBar{
    margin-left: 10%;
}


.footerBorder{
    border-width:0px 2px 0px 0px;
    border-style: solid;
}
/* footerのアイコン配置 */
.imgIcon{
    width:80%;
    margin-top:30%;
    margin-bottom:0%;
    padding:0%;
    text-align: center;
}

/* フォントについてのcss */

/* ゴシック体 */
.fontGothic{
    font-family:MS PGothic;
}
/* 太字ゴシック体 */
.fontGothicBold{
    font-family:MS PGothic;
    font-weight:bold;
}
/* メイリオ体 */
.fontMeiryo{
    font-family: Meiryo;
}
/* 太字メイリオ体 */
.fontMeiryoBold{
    font-family: Meiryo;
    font-weight:bold;
}


/* 検索ボックス */
.search_container{
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 260px;
    overflow: hidden;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
  }
  
  /* ボタンのCSS　制作者上村 */
  .defo-btn{
    color:#000;
    background:#FF7800;
    border-radius:  5px;
    
  }
  
  
 
 /* ロゴの表示について */
 .logo{
    width:7vh;
 }
 .noDecoration{
    text-decoration: none;
}

