.ranking{
    margin: 10% 10% 0 10%;
    border: solid 1.5px #FF7800;
    background-color: #FFFAD7;
    border-radius: 5px;
}


.slider {
    position:relative;
	z-index: 1;
	height: 50%;
    padding-left: 0;
    text-align: center;
}

.ranking-title{
    display: inline-block;
    color: #FF7800;
    font-size: 7vw;
    font-weight: bold;
    text-decoration: none; 
    margin-right: auto;
    margin-left: auto;
}
.slider-contents{
    padding: 5%
}
.point-weight{
    color: #dc143c;
}


/*矢印の設定*/

.slick-prev, 
.slick-next {
    position: absolute;
	z-index: 3;
    top: 42%;
    border-top: 2px solid #FF7800;/*矢印の色*/
    border-right: 2px solid #FF7800;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin:10px 50px 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
}

.slick-dots .slick-active button{
    background:#FF7800;/*ドットボタンの現在地表示の色*/
}

.proposalButton{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.suggestButton{
    width: 130px;
    margin: 0 18px;
    padding: 15px;
    font-size: 25px;
    color: #000;
    font-family: Meiryo;
    /* font-weight:bold; */
    border: 0.5px solid #696969;
    border-radius: 5px;
    background-color: #FF7800;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}